* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper {
  height: 100vh;
  background-color: #cecece;
  display: grid;
  place-items: center;
}
.card {
  background-color: #fff;
  border: 1px solid #b0b0b0;
  border-radius: 1rem;
  width: 500px;
  padding: 1rem;
}
.headline {
  text-align: center;
  color: rgb(58, 50, 113);
}
.btn {
  padding: .6em 2em;
  font-size: .9rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: .5em;
  border: 0;
}
.btn-primary {
  background-color: rgb(58, 50, 113);
  color: #fff;
}

.form-group {
  margin-bottom: 1rem;
}
.form-label,
.form-control {
  display: block;
  width: 100%;
}
.form-label {
  margin-bottom: .4rem;
}
.form-control {
  padding: .5em;
  border-radius: .4em;
  font-size: 1rem;
  border: 1px solid #b0b0b0;
}
.form-control:focus {
  outline-color: rgb(58, 50, 113);
}
.error {
  color: firebrick;
  font-size: .9rem;
}

.test {
  display: none;
}

.form-control:invalid + .test {
  display: block;
}