* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.ToggleButton {
  display: inline-block;
  position: relative;
  margin: 1rem;
}

.btn {
  padding: .5em 1.5em;
  border: 0;
  background-color: rgb(2, 65, 44);
  color: #fff;
}
.btn-outline {
  background-color: #fff;
  color: rgb(2, 65, 44);
  /* border: 2px solid rgb(2, 65, 44); */
  outline: 2px solid rgb(2, 65, 44);
}

.expandable {
  background-color: rgb(173, 230, 201);
  padding: .5rem 1rem;
  position: absolute;
  top: 120%;
}